<header class="app-header">
  <div ng-controller="header" class="header header-boader">
    <h2 class="">樹木詳細</h2>
    <div ng-click="back()" class="back">< 戻る</div>
  </div>
  <div class="sub-header">
    <div class="bg-label">{{wood.tree_name.value}}</div>
  </div>
</header>

<div ng-if="wood.url.value" class="thumbnail">
  <img ng-src="{{wood.url.value}}" alt="樹木画像">
</div>
<table class="table table-condensed table-common">
  <table class="table">
    <tbody>
      <tr>
        <th>樹種</th>
        <td>{{wood.tree_type.value}}</td>
      </tr>
      <tr>
        <th>状態</th>
        <td>{{wood.status.value}}</td>
      </tr>
      <tr>
        <th>樹齢</th>
        <td>8年</td>
      </tr>
    </tbody>
  </table>
</div>
