<h3>詳細</h3>
<div class="panel panel-default">
  <div class="panel-heading">{{wood.tree_name.value}}</div>
  <div class="panel-body">
    <div class="thumbnail">
      <img ng-src="{{wood.url.value}}" alt="樹木画像">
    </div>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th>品種</th>
        <td>{{wood.tree_type.value}}</td>
      </tr>
      <tr>
        <th>状態</th>
        <td>{{wood.status.value}}</td>
      </tr>
      <tr>
        <th>樹齢</th>
        <td>8年</td>
      </tr>
    </tbody>
  </table>
</div>
