<div ng-controller="header" class="header">
  <h3 class="text-center">樹木一覧</h3>
  <div ng-click="back()" class="back">< 戻る</div>
</div>
<div class="bg-label">あなたの木から生まれた製品</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>No.</th>
      <th>樹種</th>
      <th>樹齢</th>
      <th>状態</th>
      <th>地図</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="wood in woodList" ng-click="wood.openTimeline()">
      <td>{{wood.$id.value}}</td>
      <td>{{wood.tree_type.value}}</td>
      <td>4年</td>
      <td><div class="status status_0"></div></td>
      <td><button class="btn btn-sm">MAP</button></td>
    </tr>
  </tbody>
</table>
