<header class="app-header">
  <div ng-controller="header" class="header">
    <h2 class="">製品化一覧</h2>
    <div ng-click="back()" class="back">< 戻る</div>
  </div>
  <div class="sub-header">
    <div class="bg-label">あなたの木から生まれた製品</div>
  </div>
</header>

<table class="table table-condensed table-common product-list">
  <thead>
    <tr>
      <th>写真</th>
      <th>製品</th>
      <th>卸先</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in productList" ng-click="item.openDetail()">
      <td><img class="product-thumbnail" ng-src="{{item.thumbnailURL.value}}" alt="製品画像"></td>
      <td>{{item.name.value}}</td>
      <td>{{item.shop.value}}</td>
      <td>＞</td>
    </tr>
  </tbody>
</table>
