<div ng-controller="header" class="header">
  <div class="logo-header"></div>
</div>
<div class="sub-header">
  <div class="bg-label">あなたの土地の木一覧</div>
  <div class="right-button">
    <span class="button-highlight">製品一覧(1)</span>
  </div>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>No.</th>
      <th>樹種</th>
      <th>樹齢</th>
      <th>状態</th>
      <th>地図</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="wood in woodList" ng-click="wood.openTimeline()">
      <td>{{pad(wood.$id.value)}}</td>
      <td>{{wood.tree_type.value}}</td>
      <td>4年</td>
      <td><div class="status status_0"></div></td>
      <td><button class="btn btn-sm">MAP</button></td>
    </tr>
  </tbody>
</table>
