
/* util */
@font-face {
  font-family: sans;
  src: local("Hiragino Sans"),
  		 local("ヒラギノ角ゴシック"),
       local("Hiragino Kaku Gothic ProN"),
       local("ヒラギノ角ゴ ProN");
}

body {
  font-family: sans;
  user-select: none;
  -webkit-user-select: none;
}

/* default */
div {
  box-sizing: border-box;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
  background-color: #fff;
  z-index: 10;
}
.app-header-sm {
  height: 65px;
}

/* header */
.header {
  position: relative;
  height: 65px;
  padding-top: 30px;
  text-align: center;
}
.header-boader {
  border-bottom: 1px solid #ccc;
}
.header h2 {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #00060c;
}
.back {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #478345;
}
.back:active {
  opacity: 0.6;
}
.logo-header {
  position: relative;
  width: 25px;
  height: 24px;
  margin: 8px auto 0 auto;
  background-image: url("../img/logo_header.png");
  background-size: contain;
}

/* sub header */
.sub-header {

}
.bg-label {
  height: 32px;
  padding: 9px 5px 5px 10px;
  font-size: 13px;
  font-weight: bold;
  background: rgba(0, 6, 12, 0.1);
  color: #00060c;
}
.right-button {
  height: 32px;
  padding: 9px 5px 5px 10px;
  margin-top: -32px;
  text-align: right;
  font-size: 13px;
}
.right-button:after {
  margin-bottom: 10px;
  content: " ＞";
  font-size: 15px;
  color: #888;
}
.button-highlight {
  color: #36bb29;
}

/* content */
.content {
  position: relative;
  top: 0;
  padding-top: 97px;
}
.content-sm {
  padding-top: 65px;
}

/* table */
.table-common {
  margin: 0 10px;
  width: calc(100% - 20px);
}
.table-common th {
  font-size: 12px;
  color: #c0c3c6;
  letter-spacing: 1.71px;
}
.table-common thead tr {
  height: 36px;
}
.table-common td {
  vertical-align: middle !important;
}

/* woodList table */
.wood-list {
}
.wood-list tbody tr {
  height: 52px;
}
.status {
  width: 74px;
  height: 24px;
  background-size: contain;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
.status_0 {
  background-image: url("../img/list_label1.png");
}
.status_1 {
  background-image: url("../img/list_label2.png");
}
.status_2 {
  background-image: url("../img/list_label3.png");
}
.status_3 {
  background-image: url("../img/list_label4.png");
}
.status_4 {
  background-image: url("../img/list_label5.png");
}
.status_5 {
  width: 64px;
  color: #fff;
  background-color: #0fb1d7;
  border-radius: 2px;
}
.status_5:after {
  content: "製品化"
}
.status_5:active {
  opacity: 0.6;
}
.map-btn {
  width: 48px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  font-weight: bold;
  color: #fff;
  background-color: #d4d6d8;
  border-radius: 2px;
}
.map-btn:active {
  opacity: 0.6;
}
.map-enable {
  background-color: #87bc49;
}

/* productList table */
.product-list tbody tr {
  height: 64px;
}
.product-thumbnail {
  width: 68px;
  height: 68px;
}

/* productDetail */
.image-place {
  width: 100%;
  height: auto;
}
.product-detail-header {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  color: #00060c;
}
.product-detail-header p {
  font-size: 10px;
}
.shop-detail dt, .wood-detail dt, .share dt {
  margin: 15px 0;
  color: #ccc;
}
.shop-detail dd {
  font-size: 16px;
  color: #87bc49;
  text-decoration: underline;
}
.wood-detail dd {
  font-size: 16px;
  color: #00060c;
}
.timeline-btn {
  background-color: #87bc49;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
}
.timeline-btn:active {
  color: #fff;
  opacity: 0.6;
}
.share {
  font-size: 14px;
  letter-spacing: 1.99px;
  color: #fff;
}
.share dt {
  margin-bottom: 10px;
}
.share dd > div {
  position: relative;
  width: calc(50% - 10px);
  height: 46px;
  line-height: 46px;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  padding-left: 22px;
  margin: 0 2px;
}
.share dd > div:active {
  opacity: 0.6;
}
.share-facebook {
  background-image: linear-gradient(-180deg, #4b68b9 0%, #3b55a0 100%);
}
.share-facebook:after {
  position: absolute;
  top: 11px;
  left: 32px;
  content: " ";
  width: 22px;
  height: 22px;
  margin-left: -20px;
  background-image: url("../img/share_facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}
.share-twitter {
  background-color: #1DADEB;
}
.share-twitter:after {
  position: absolute;
  top: 11px;
  left: 32px;
  content: " ";
  width: 22px;
  height: 22px;
  margin-left: -20px;
  background-image: url("../img/share_twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}

/* map */
.map {
  width: 100%;
  height: 400px;
}
